*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

body {
  font: 16px "Century Gothic", Futura, sans-serif;
  margin:0;
  padding: 0;
  background: rgb(77, 77, 202);
}

ol, ul {
  padding-left: 30px;
}

/* .game-board{
    margin: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
} */

.game-container{
    position: relative;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: 100vh; 
    overflow: hidden;
}

.button-container{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    transition:all 0.8s ease-in-out;
    transform: translateX(-100%);
}

.button-container button{
    margin: 0 10px;
    padding: 2px 5px;
}

.button-container.on-screen{
    transform: translateX(0);
}

.game{   
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    transition:all 0.8s ease-in-out;
    transform: translateX(100%);
}

.game.on-screen{
    transform: translateX(0); 
}



.game-info{
    
    height: 390px;
}

.game-board{  
    width: 370px;
    margin: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background: gray;
    grid-gap: 5px;
    padding: 0px;
    border: none;
    outline: none;
    

}

.status {
  margin-bottom: 20px;
  text-align: center;
}

.square {
    background: rgb(77, 77, 202);
  font-size: 40px;
  font-weight: 500;
  line-height: 120px;
  height: 120px;
  width: 120px;
  margin: 0;
  padding: 0;
  text-align: center;
  outline: none;
  border: none;  
}

.square.empty{
    cursor: pointer;
}


@keyframes anim{
    0%{color: black;
       background: green; }
    50%{color: green;
        background: black;}
    100%{color: black;
        background: green;}
}

.square.won{
    color:green;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.game-info div{
    margin-bottom: 10px;
  }

.game-info p{
    margin-bottom: 10px;
    border-bottom: 1px solid black;
    cursor: pointer;

}

.game-info span{
    float:right;

}

.game-info ol{
    padding: 0;
    margin: 0;
}

.game-info li button{
    background: transparent;
    border: none;
    margin-bottom: 5px;
    padding: 0;
    cursor: pointer;
 
}

.game-info li button:hover{
    color: rgb(250, 218, 37);
}

.game-info li button:focus{
    border: none;
    outline: none;
}